/**** home page style ***/


/*** title banner ***/

.title-banner {
    background: #ECCD00;
    padding: 10px 0;
    .title {
        color: $blue;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }
}


/** home slider style ***/

.home-slider {
    .carousel-indicators {
        bottom: 25px;
        li {
            width: 17px;
            height: 17px;
            background-color: $blue;
            &.active {
                background-color: $green;
            }
        }
    }
}


/**page-content styles **/

.page-content {
    /**search-block style **/
    .search-block {
        background: #F8F9FD;
        box-shadow: 0px 10px 6px #14466029;
        border-top: 3px solid #EDF0F5;
        &.home {
            @media(min-width: 992px) {
                margin-top: -25px;
                position: relative;
            }
        }
        ul.filter-menu {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li.menu-button {
                display: inline-block;
                border-left: 1px solid rgba(105, 158, 35, 0.4);
                color: $blue;
                font-weight: 500;
                .btn:not(.btn-success) {
                    background: none !important;
                    box-shadow: none !important;
                    border: 0 !important;
                    color: $blue;
                    font-weight: 500;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    &::after {
                        vertical-align: middle;
                    }
                }
                &.float-left {
                    border-left: 0;
                    border-right: 1px solid rgba(105, 158, 35, 0.4);
                    .selecionado_opcion {
                        padding: 12px 0.75rem;
                        margin: 0;
                        &::after {
                            display: inline-block;
                            margin-right: 0.255em;
                            vertical-align: middle;
                            content: "";
                            border-top: 0.3em solid;
                            border-right: 0.3em solid transparent;
                            border-bottom: 0;
                            border-left: 0.3em solid transparent;
                        }
                    }
                }
                &:first-child {
                    .btn {
                        padding-right: 0;
                    }
                }
            }
            /* Hidden placeholder */
            select option[disabled]:first-child {
                display: none !important;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
                background-color: #fff;
                min-width: 230px;
                padding: 0;
                .dropdown-item,
                li {
                    padding: 7px 10px 5px 10px;
                    border-bottom: 1px solid #DEE7DD;
                    font-size: 18px;
                    font-weight: 500;
                    color: #2C5870;
                    a {
                        width: 100%;
                        display: block;
                        label {
                            padding: 0;
                        }
                    }
                    .fa-star {
                        color: $yellow;
                        font-size: 14px;
                    }
                }
                li.active {
                    background-color: #EEEEEE;
                }
                .multiselect-all {
                    display: none;
                }
                form {
                    .row {
                        margin: 15px 0 0 0;
                        align-items: center;
                        .col-auto {
                            max-width: 30px;
                            flex: 0 0 30px;
                        }
                        label {
                            color: $blue;
                            font-weight: 500;
                        }
                        .form-control {
                            border-color: #2d91c6;
                        }
                    }
                }
                .btn-success {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                    border-radius: 3px;
                    i {
                        color: #D5E3C3
                    }
                }
            }
        }
    }
}


/*** bread-block style ***/