/**** start service-details page style ***/

.service-details {
    padding: 10px 0;
    .service-container {
        background: #fcfcfc;
        border-radius: 5px;
        .tabs-head {
            border-bottom: 3px solid rgba(162, 162, 162, 0.5);
            ul {
                display: inline-block;
                padding: 0;
                list-style-type: none;
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    a {
                        color: $blue;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 15px;
                        display: inline-block;
                        text-decoration: none !important;
                    }
                    &.active,
                    &:hover {
                        a {
                            color: $green;
                            position: relative;
                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                background: $green;
                                height: 4px;
                                right: 0;
                                position: absolute;
                                bottom: -3px;
                            }
                        }
                    }
                    .dropdown-toggle {
                        i {
                            font-size: 13px;
                            margin-right: 5px;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            .float-left {
                .fa-heart {
                    color: #CBCBCB;
                    transition: all 0.3s ease;
                    font-size: 28px;
                    vertical-align: middle;
                    margin-top: 2px;
                    &:hover {
                        color: #E50D0D;
                    }
                }
                .dropdown {
                    display: inline-block;
                    .dropdown-toggle {
                        background-color: transparent !important;
                        border: 0 !important;
                        box-shadow: none !important;
                        color: #CBCBCB;
                        font-size: 25px;
                        vertical-align: middle;
                        &::after {
                            display: none
                        }
                        i {
                            vertical-align: middle;
                        }
                    }
                    .dropdown-menu {
                        background: #fff;
                        padding: 0;
                        .dropdown-item {
                            color: #707070;
                            font-size: 16px;
                            border-bottom: 1px solid #dcdcdc;
                            padding: 0.45rem 0.75rem;
                            &:last-child {
                                border-bottom: 0;
                            }
                            i {
                                color: #707070;
                                margin-left: 5px;
                                font-size: 18px;
                            }
                            &:hover {
                                background-color: #EEEEEE
                            }
                        }
                    }
                }
            }
        }
        /*** start box-content style ****/
        .service-name {
            margin-bottom: 10px;
            .right {
                display: inline-block;
            }
            nav {
                .breadcrumb {
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    padding-right: 15px;
                    background: url("../images/list2.JPG") no-repeat;
                    background-position: right 0 center;
                    background-size: 15px auto;
                    li,
                    a {
                        color: $blue;
                        font-size: 18px;
                    }
                    .breadcrumb-item+.breadcrumb-item::before {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f104";
                        font-weight: 900;
                        padding-right: 0;
                        vertical-align: middle;
                    }
                }
            }
            i {
                color: $yellow;
            }
            .serv-rate {
                .rate-num {
                    font-family: 'OpenSans-SemiBold';
                    font-weight: 600;
                    color: #144660;
                    font-size: 35px;
                    small {
                        font-weight: 400;
                        color: #CBCBCB;
                        font-size: 20px;
                        vertical-align: text-top;
                        margin-top: 3px;
                        display: inline-block;
                    }
                }
            }
        }
        .box-content {
            padding: 20px;
        }
    }
}

.serv-block {
    background-color: #FFFFFF;
    position: relative;
    border: 1px solid rgba(162, 162, 162, 0.5);
    border-radius: 4px;
    margin-bottom: 15px;
    &.bg-dark {
        background-color: #EFF0F2 !important;
    }
    .serv-head {
        background: $gray;
    }
    .sale-icon {
        position: absolute;
        z-index: 9;
        left: 0;
        top: -7px;
        img {
            max-width: 60px;
        }
    }
    .content {
        padding: 20px
    }
    .serv-content {
        padding: 15px;
        .user-img {
            .relative {
                position: relative;
                display: inline-block;
            }
            img {
                max-width: 100px;
                border-radius: 50%;
            }
            .active {
                position: absolute;
                top: 5px;
                right: 5px;
                background: #1ADF04;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                display: block;
            }
        }
        h3 {
            font-size: 22px;
            color: $blue;
        }
        .user-type {
            color: $green;
            display: block;
            font-size: 18px;
        }
        .time-active {
            padding: 5px 0;
            span {
                color: #A2A2A2
            }
        }
        .freelancer-rate {
            color: #A2A2A2;
            margin-bottom: 10px;
            i {
                color: $yellow;
                &.gray {
                    color: #CBCBCB
                }
            }
        }
        .qualified {
            img {
                max-width: 40px;
                margin: 5px
            }
        }
        &.share-icons {
            img {
                max-width: 40px;
                margin: 5px;
            }
        }
        .freelancer-serv {
            border-bottom: 1px solid #CBCBCB;
            padding: 10px 0;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
            .col {
                padding-right: 5px;
            }
            .col-auto {
                padding-left: 0;
            }
            img {
                max-width: 115px
            }
            h4 {
                font-size: 14px;
                font-weight: 500;
            }
            .price {
                color: $green;
                font-weight: 500;
                font-size: 22px;
            }
            .serv-rate {
                color: $yellow;
                small {
                    color: #A2A2A2
                }
                .float-left {
                    color: #CBCBCB;
                    .dropdown {
                        display: inline-block;
                        margin-right: 7px;
                    }
                    .btn {
                        background-color: transparent !important;
                        border: 0 !important;
                        padding: 0 !important;
                        color: #CBCBCB;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        form {
            .custom-control {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 2px solid #f5f4f4;
                .custom-control-label {
                    width: 100%;
                    color: #396A77;
                    font-weight: 500;
                    .float-left {
                        color: $green;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 16px;
                        font-weight: 500;
                    }
                }
            }
            .btn {
                line-height: 32px;
            }
        }
        .add-serv {
            color: $green;
            font-size: 40px;
            span {
                display: inline-block;
            }
            .qt-minus,
            .qt-plus {
                border: 1px solid $green;
                display: inline-flex;
                width: 45px;
                height: 45px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 20px;
            }
            .qt {
                padding: 0 10px;
                height: 45px;
                line-height: 1;
                vertical-align: middle;
            }
        }
        .price {
            font-size: 40px;
            color: $green;
            font-weight: 500;
        }
    }
    .serv-deadline {
        text-align: center;
        img {
            max-width: 25px;
            margin-left: 5px;
        }
        span {
            color: #699E23;
            font-size: 14px;
            font-size: 15px;
            font-weight: 500;
            &.w-100 {
                color: $blue;
                display: block
            }
        }
    }
    .seo-words {
        padding-top: 15px;
        span {
            background: #F8F9FD;
            display: inline-block;
            margin-left: 5px;
            padding: 5px 10px;
            border: 1px solid #F4F4F5;
            min-width: 85px;
            margin-bottom: 5px;
            text-align: center;
            color: #144660;
            font-weight: 400;
        }
    }
}


/**** start comments&rates style *****/

.rating-block {
    max-width: 735px;
    margin: 0 auto;
    margin-bottom: 25px;
    .fa-star {
        color: $green;
        &.gray {
            color: #CBCBCB;
        }
    }
    .rate-head {
        background: #fff;
        -webkit-box-shadow: -1px 6px 14px -3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -1px 6px 14px -3px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 6px 14px -3px rgba(0, 0, 0, 0.3);
        font-size: 23px;
        font-weight: 500;
        padding: 10px 10px 12px 10px;
        margin-bottom: 15px;
        margin-top: 20px;
        .rating {
            color: $green;
            display: inline-block;
            margin-right: 15px;
            i {
                font-size: 20px;
            }
        }
        .float-left {
            margin-top: -3px;
        }
        .form-control {
            display: inline-block;
            width: auto;
            border: 0;
            padding: 0;
            font-size: 23px;
            font-weight: 500;
            color: inherit;
            background: transparent;
        }
    }
    .rate-progress {
        .progress {
            background-color: #ECEFF4;
            border-radius: 10px;
            width: calc(100% - 165px);
            display: inline-flex;
            margin: 0 10px;
            .progress-bar {
                background-color: $green;
            }
        }
        span {
            font-weight: bold;
        }
    }
}

.comment-block {
    border-top: 2px solid #e4e4e4;
    padding: 15px;
    img.col-auto {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-fit: contain;
        padding-left: 0;
    }
    .col {
        padding-right: 10px;
    }
    .name {
        font-size: 22px;
        color: #144660;
        font-weight: 500;
        margin-bottom: 15px;
        .comment-time {
            color: #707070;
            font-size: 18px;
            margin-right: 10px;
        }
        .serv-freelancer {
            color: #699E23;
            display: block;
            font-size: 18px;
        }
    }
    .final-rate {
        margin-bottom: 20px;
        h4 {
            font-size: 17px;
        }
        .fas {
            color: $green;
            &.gray {
                color: #CBCBCB;
            }
        }
        .orange-text {
            .fas {
                color: $yellow;
                &.gray {
                    color: #CBCBCB;
                }
            }
        }
    }
    .up {
        i {
            color: $green;
        }
    }
    .down {
        margin-right: 10px;
        i {
            color: red;
        }
    }
}

.serv-content .comment-block:nth-child(2) {
    border: 0 !important
}

.load-more {
    .btn-outline-success {
        background: #F8F9FD 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #4E494929;
        border: 1px solid #699E23;
        opacity: 1;
        color: #699E23;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        max-width: 260px;
        padding: 15px 15px 12px 15px
    }
}


/**** start related services style ****/

.suggest-slider {
    .slick-slide {
        padding: 20px 8px
    }
    .slick-prev:before,
    .slick-next:before {
        display: none !important;
    }
    .carousel {
        &:hover {
            .carousel-control-next,
            .carousel-control-prev {
                opacity: 0.7;
            }
        }
    }
}


/* ///  DECORATION CSS ///  */

.cont_select_center {
    display: inline-block;
}


/* ///  END DECORATION CSS  ///  */

.icon_select_mate {
    position: absolute;
    top: 11px;
    left: -9px;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate {
    display: inline-block;
    position: relative;
    transition: all 375ms ease-in-out;
    /* Oculto el elemento select */
    select {
        position: absolute;
        overflow: hidden;
        height: 0px;
        opacity: 0;
        z-index: -1;
    }
}

.cont_list_select_mate {
    position: relative;
}

.cont_select_int {
    position: absolute;
    left: -10px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 375ms ease-in-out;
    transition: all 375ms ease-in-out;
    min-width: 200px;
    padding: 0;
    li {
        position: relative;
        float: left;
        border-bottom: 1px solid #E0E0E0;
        list-style-type: none;
        padding: 7px 10px;
        margin: 0px;
        width: 100%;
        transition: all 275ms ease-in-out;
        display: block;
        cursor: pointer;
        &:last-child {
            border-radius: 3px;
            border-bottom: 0px;
        }
        &:hover {
            background-color: #EEEEEE;
        }
    }
    .active {
        background-color: #EEEEEE;
    }
}


/* etiqueta <p> con la opcion selecionada  */

.selecionado_opcion {
    padding: 4px 0 4px 10px;
    /* width: 96%; */
    display: block;
    margin: 0px;
    cursor: pointer;
    margin-bottom: 7px;
}


/***** gallery page style *****/

.our-gallery {
    .boot-tab-slider {
        .nav-tabs {
            border: 0
        }
        li {
            padding: 10px 5px;
            a {
                font-size: 18px;
                height: 80px;
                padding-top: 0;
                width: 200px;
                position: relative;
                display: inline-flex;
                border-radius: 4px;
                color: #FBFBFB;
                justify-content: center;
                align-items: center;
                padding: 0;
                .tab-img {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-radius: 4px;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
                .overly {
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    z-index: 2;
                    position: absolute;
                }
                span {
                    display: block;
                    z-index: 9;
                }
                &.active {
                    color: #fff;
                    .overly {
                        background: $green;
                    }
                }
            }
        }
        .boot-tab-slider__scroll-left,
        .boot-tab-slider__scroll-right {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: #FBFBFB;
            -webkit-box-shadow: 0px 10px 20px #699E2329;
            box-shadow: 0px 10px 20px #699E2329;
            z-index: 99;
            text-align: center;
            line-height: 45px;
            top: 24px;
            i {
                font-size: 18px;
                color: #699E23;
            }
        }
        .boot-tab-slider__scroll-left {
            left: 3px;
        }
        .boot-tab-slider__scroll-right {
            right: -10px;
        }
    }
    .tab-content {
        .filters {
            ul {
                text-align: center;
                list-style-type: none;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    cursor: pointer;
                    background: #FCFCFC;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    border-radius: 10px;
                    color: $blue;
                    font-weight: 500;
                    min-width: 130px;
                    padding: 13px;
                    margin: 5px;
                    &.active {
                        color: $green;
                    }
                }
            }
        }
        h2 {
            font-weight: bold;
            font-size: 45px;
        }
        .filter-actions {
            .btn-primary {
                background-color: $blue;
                border-color: $blue;
                color: #FBFBFB;
                box-shadow: 0px 5px 6px #4E494929;
            }
            .custom-select {
                max-width: 180px;
                background-color: #FBFBFB;
                box-shadow: 0px 5px 6px #4E494929;
                border: 1px solid #144660;
            }
        }
        .filters-content {
            background: #FCFCFC;
            padding: 20px;
            border-radius: 5px;
        }
    }
}